/**************************/
/*  Elementos del Footer  */

footer{
  margin-top: 15px;
  background-color:black;
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  color: aliceblue;
  align-self: flex-end;
  position:fixed;
  bottom: 0;
  width: 100%;
   }

.container-footer{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 99%;
  background-color: black;
  justify-content:space-around;
  align-self: flex-end;
}

footer h3{
  text-shadow: aliceblue;
  font-weight:300;
 
}
footer a{
  color: lightgray
}

.f-imagen {
    padding: 5px;
     width: 30%;
    height: auto;
  }

  .footer-imagen{
    width: 100%;
  }

  .footer-icon {
      font-size: 40px;
      padding: 2%;
  }
 