<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />    
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=4.0, minimun-scale=1.0">
    <title>Catena Zapata</title>
  </head>
  
  <footer >
    <div class="container">
      <div class="row">
        <div class="footer-imagen"></div><a href="/ " ><img  src="/images/catenaLogoFN.jpeg" class="f-imagen"> </a></div>
                  <div class="col-lg-4">
                  </div>
                  <div class="col-lg-4">
                      <a class="fab fa-twitter-square" href="https://twitter.com/CatenaMalbec" target="_blank"><span class="fa fa-twitter">Twitter</span></a>
                      <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/bodegacatenazapata" target="_blank"><span class="fa fa-facebook">Facebook</span></a>
                      <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/catenawines/" target="_blank"><span class="fa fa-instagram"> Instagram</span></a>
                      <a class="btn btn-social-icon btn-youtube" href="https://www.youtube.com/CatenaMalbec/" target="_blank"><span class="fa fa-youtube"> Youtube</span></a>
                  </div>
          </div>          
      </div>
     </footer>


     <i class="fab fa-twitter-square"></i>