<footer class="navbar navbar-fixed-bottom" >
   <div class="container-footer">
      <div class="row">
         <div class=" col-lg-4 footer-imagen">
            <a href="/ "><img  src="/images/catenaLogoFN.jpeg" class="f-imagen"></a>
            <p> Elegida como la marca de vinos más admirada del mundo. </p>
         </div>
         <div class="col-lg-4">
            <div>
               <h3>Redes Sociales</h3>
            </div>
            <div>
               <a class="fab fa-twitter-square footer-icon" href="https://twitter.com/CatenaMalbec" ></a>           
               <a class="fab fa-facebook-square footer-icon" href="https://www.facebook.com/bodegacatenazapata" ></a>
               <a class="fab fa-instagram-square footer-icon" href="https://www.instagram.com/catenawines/" ></a>
               <a class="fab fa-youtube-square footer-icon" href="https://www.youtube.com/CatenaMalbec/" ></a>
            </div>
         </div>
         <div class="col-lg-3">
            <div>
               <h3>Informacion de Contacto</h3>
            </div>
            <div>
               <p> Cobos s / n - Luján de Cuyo (5509), Mendoza, Argentina</p>
               <p> +54 261 4131100</p>
            </div>
         </div>
      </div>          
   </div>
</footer>
</body>
</html>
